{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
<h1>Course's List</h1>
    <div class="container">
        {% for course in courses %}
            <a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }}</a><br>
        {% endfor %}
    </div>
{% endblock %}
