{% extends 'base.html.twig' %}

{% block title %}Trainee's details{% endblock %}

{% block body %}
    <h1>Course's details</h1>

    <h2>{{ course }}</h2>
    <p>Category : {{ course.category() }}</p>
{% endblock %}