{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
        <div class="container">
            <h1>Session's List</h1>
            <a href="{{ path('new_session') }}">New Session</a><br>
            {% for session in sessions %}
            <a href="{{ path('app_session_show', {'id': session.id}) }}">{{session.name}}</a><br>
            {% endfor %}
        </div>
{% endblock %}
